.upload-file-div{
    margin: 1em;
}

.input-file-upload {

    display: none;

}

.button-upload {
    font-size: 0.8em;
    border-radius: var(--radius-small);
    border: 1px solid transparent;
    background-color: var(--button-color);
    color:var(--text-color-invert);
    padding: var(--gap-extra-small)var(--gap-small);
    margin: var(--gap-small);
    font-size: 1em;
    cursor: pointer;
    transition: border-color 0.25s;
}

.button-upload:hover {
    background-color: var(--secondary-color);
}