
.button-plusmin {

    border-radius: var(--radius-small);
    border: 1px solid transparent;
    background-color: var(--button-color);
    color:var(--text-color-invert);
    padding:  var(--gap-extra-small);
    aspect-ratio: 10/3;
    font-family: Raleway-bold;
    font-size: 1em;
    cursor: pointer;
    transition: border-color 0.25s;
}

.button-plusmin:hover {
    background-color: var(--button-color-hover);
}