
button {

    border-radius: var(--radius-medium);
    border: 1px solid transparent;
    background-color: var(--button-color);
    color:var(--text-color-invert);
    padding: var(--gap-small)var(--gap-large);
    margin: var(--gap-small);
    font-size: 1em;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    background-color: var(--button-color-hover);
}

button.secondary-button {

    background-color: var(--brand-color);

}


button.nav-button {
    font-size: 0.8rem;
    border-radius: var(--radius-small);
    padding: var(--gap-small)var(--gap-small);
    color: var(--text-color);
    font-family: Raleway-semibold;
    background-color: var(--secondary-color);

}

button.left-menu {
    border-radius: var(--radius-large);
    background-color: var(--secondary-color);
}

button.nav-button:hover {
    background-color: var(--primary-color);
    color: var(--text-color-invert);
}


button.secondary-button:hover {
    background-color: var(--button-color-hover);
}
