.global-form-style {

    display: flex;
    flex-direction: column;
    color: var(--text-color);
    margin: 0.5rem;


}

.h-maintitel {
    font-size: 1.3rem;
    font-family: Raleway-semibold, Arial, serif, sans-serif;
    margin: 0.2rem 0.1rem 2rem 0.1rem;
}


@media (min-width: 550px) {

    .global-form-style {

        margin: 2em;
    }

}