.inlog-form{
    display: flex;
    flex-direction: column;
    font-family: Raleway,Arial, serif, sans-serif;
    color: var(--gray);

}

.input-email-icon {
    background: url("../icons/usericon.png") no-repeat right 1rem center;
    background-size: 1rem;
    border-radius: var(--radius-small);
    border: solid 1.5px var(--button-color);
    margin: 0.2rem;
    padding: var(--gap-medium) var(--gap-extra-large);
}

.input-password-icon {

    background: url("../icons/inlogpassword.png") no-repeat right 1rem center;
    background-size: 1rem;
    border-radius: var(--radius-small);
    border: solid 1.5px var(--button-color);
    margin: 0.2rem;
    padding: var(--gap-medium) var(--gap-extra-large);


}

.p-addSucces {
    margin: 0 1em 0 1em;
}