.header-wrapper {
    margin-top: var(--gap-extra-extra-large);
    display: flex;
    flex-direction: column;
    width: var(--width-extra-large);


}

.header-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: var(--gap-medium);

}

.header-container-buttons {
    margin-top: var(--gap-extra-large);
    display: flex;
    flex-direction: column;
    
}

.header-image-container {
    flex: 1;

}

.header-logo {
    width: 100px;
    margin-left: -15px;
    margin-bottom: var(--gap-medium);

}

.headerimage {
    width: var(--size-vw-medium);
}

Link {

    text-decoration: none;
    color: inherit;
}

@media (min-width: 550px) {

    .header-container-buttons {
        flex-direction: row;

    }

    .header-wrapper {
        flex-direction: row;
    }

    .headerimage {
        width: var(--size-vw-small);
    }

}