.header-wrapper {
    margin-top: var(--gap-extra-extra-large);
    display: flex;
    flex-direction: column;
    width: var(--width-extra-large);


}

.header-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: var(--gap-medium);

}

.header-container-buttons {
    margin-top: var(--gap-extra-large);
    display: flex;
    flex-direction: row;
}

.header-image-container {
    flex: 1;

}

.header-logo {
    width: 100px;
    margin-left: -15px;
    margin-bottom: var(--gap-medium);

}

.headerimage {
    width: 250px;
}

Link {

    text-decoration: none;
    color: inherit;
}
