.main-wrapper {
    margin-top: var(--gap-extra-extra-large);
    display: flex;
    flex-direction: row;
    width: var(--width-extra-large);
    height: var(--height-medium);

}

.main-container {
    display: flex;
    flex-direction: row;

}

.main-container-child {
    flex: 1;

}

.main-image {
    width:500px;
}