
:root {

    /*/////////////////       COLORS        /////////////////*/
    --primary-color: #6F66AE;
    --secondary-color: #E5DCCD;
    --brand-color:#393361;
    --background-color: #FFFDF9;

    --button-color:#8D964F;
    --button-color-hover:#E5DCCD;
    --button-color-pressed:#E5DCCD;

    --almost-white:#FFFDF9;
    --almost-black:#0E191B;



    --text-color:#292546;
    --text-color-brand:#393361;
    --text-color-invert:#FFFDF9;

    --border-color:#8D964F;
    --border-color-secondary:#393361;
    --border-color-invert:#E5DCCD;

    --height-small: 200px;
    --height-medium: 400px;
    --height-large: 800px;

    --width-small: 15%;
    --width-medium: 30%;
    --width-large: 40%;
    --width-extra-large:80%;
    --width-total: 100%;

    --size-vw-extra-extra-small: 10vw;
    --size-vw-extra-small: 33vw;
    --size-vw-small: 50vw;
    --size-vw-medium: 66vw;
    --size-vw-large: 80vw;
    --size-vw-total:100vw;


    /*/////////////////       RADIUS        /////////////////*/

    --radius-small: 4px;
    --radius-medium: 8px;
    --radius-large: 12px;
    --radius-extra-large: 16px;

    /*/////////////////       SPACING      /////////////////*/

    --gap-small: 0.5em;
    --gap-medium: 1em;
    --gap-large: 1.5em;
    --gap-extra-large:2em;
    --gap-extra-extra-large:4em;

    /*/////////////////       FONTSIZES       /////////////////*/

    --font-size: 16px;


    /*/////////////////       OTHERSTUFF       /////////////////*/

    font-size: var(--font-size);
    font-family: Raleway,Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: var(--text-color);
    background-color: var(--background-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}



/*/////////////////       H1,H2,H3,H4,H5,H6 + P       /////////////////*/


h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}



/*/////////////////       BUTTONS AND LINKS       /////////////////*/


