.signin-wrapper {

    display: flex;
    flex-direction: column-reverse;
    width: var(--size-vw-total);
    margin-top: 1.4rem;
    align-items: center;


}


.div-signin {
    flex: 1;
    margin: 1rem;
    width: var(--width-extra-large);
}

.div-signin-image {
    flex: 2;
}

.titel-signin {
    font-family: Raleway-semibold;
    font-size: 1.5rem;
    margin-left: 0.2rem;
    padding: 0.5rem;

}


.signin-image {
    width: var(--size-vw-large);
}

.signin-logo-image {
    display: none;
    width: var(--size-vw-extra-small);
}

@media(min-width: 550px){

    .signin-logo-image{
        display: inline-block;
        width: var(--size-vw-extra-extra-small);
    }
    .signin-wrapper {
        flex-direction: row;
    }


}

@media(min-width: 900px){
    .signin-image{
        width: var(--size-vw-small);
    }

    .div-signin {
        margin:  10rem;
    }
}