.div-templatetwo-wrapper-component {
    margin: 1em;
}

.div-templatetwo {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    border: solid 1.5px var(--brand-color);
    border-radius: var(--radius-small);
    margin: 0.2em;
    width: 95%;
    aspect-ratio: 1/1.414;
    font-size: 7px;
}

.h2-templatetwo {

    font-size: 1em;
    font-family: Raleway-bold;
    color: var(--brand-color);
    margin: 0.2em 0em 0.4em 0em;
}

.h3-templatetwo {
    font-size: 1em;
    font-family: Raleway-semibold;
    color: var(--brand-color);
    margin: 0.2em 0em 0.4em 0em;

}

.vertical-line {
    width: 1px;
    margin: 1em;
    background-color: var(--text-color);
    height: 80%
}

.horizontal-line {

    width: 1px;
    margin: 0.5em 0em 0.5em 0em;
    background-color: var(--text-color);
    width: 90%;
    height: 1px;
}



.header-templatetwo {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid var(--text-color);
    margin-bottom: 2em;
}
    .templatetwo-image {
        margin: 1em;
        flex: 0.5 0 50px;
    }

    .img-foto {
        max-width: 100%;
        max-height: 100%;
        padding: 0.2em;
    }

    .templatetwo-aboutme {
        flex: 2;
        margin: 1em;
        color: var(--brand-color);
    }
        .templatetwo-aboutme p {
            font-size: 0.8em;
        }

    .templatetwo-profielgegevens {
        flex:1.5;




    }
            .templatetwo-table {

                margin: 1em;
                font-size: 0.8em;
                line-height: 1;
            }

                    .templatetwo-table td {
                        padding-right: 1em;
                    }

.middle-templatetwo {

    display: flex;
    flex-direction: column;
    height: 50%;
    margin: 3em;


}

        .data-templatetwo {
            flex: 1;

        }

        .item-templatetwo {
            margin: 0.2em;
            padding: 0.2em;


        }

            .p-title-templatetwo {
                font-size: 0.9em;
                font-family: Raleway-bold;
            }

            .p-period-templatetwo {
                font-size: 0.6em;

            }

            .p-info-templatetwo {
                font-size: 0.8em;
                font-family: Raleway-semibold;
                margin: 0.3em 0em 0.3em 0em;
                color: var(--brand-color);

            }

            .p-extrainfo-templatetwo{
                font-size: 0.8em;

            }
        .studydata-templatetwo {
            flex: 1;

        }
        .Personaldata-templatetwo {
            flex: 1;

        }


.footer-templatetwo {
    height: 10%;
}

@media (min-width: 550px) {

    .div-templatetwo {

        font-size: 12px;

    }


}


@media (min-width: 900px) {


    .div-templatetwo {

        font-size: 14px;
        margin: 2em;
    }

}