
.global-label {
    flex: 1;
    margin-bottom: 0.2rem;
}

.global-label-p {

    margin-top: 0.8em;
    margin-bottom: 0.4em;
    font-size: 0.8em;


}

.global-input{
    flex: 1;
    font-family: Raleway, Arial,sans-serif,serif;
    color: var(--text-color);
    border-radius: var(--radius-small);
    border: solid 1.5px var(--button-color);
    margin: 0.2rem;
    padding-left: var(--gap-extra-large);
    padding-right: var(--gap-extra-large);
    padding-top: var(--gap-medium);
    padding-bottom: var(--gap-medium);
}

.global-textarea {
    flex: 1;
    font-family: Raleway, Arial,sans-serif,serif;
    color: var(--text-color);
    border-radius: var(--radius-small);
    border: solid 1.5px var(--button-color);
    margin: 0.2rem;
    padding-left: var(--gap-extra-large);
    padding-right: var(--gap-extra-large);
    padding-top: var(--gap-medium);
    padding-bottom: var(--gap-medium);

}
