.footer-wrapper {


    flex-grow: 1;
    width: var(--size-vw-total);
    background-color: black;
    justify-content: center;
}

.footerbar {
    display: flex;
    justify-content: space-between;
    width: var(--width-total);

}

.footer-logo-image {
    margin:1em;
    width: 18%;
}
