@font-face {
  font-family: Raleway;
  src: url('./assets/font/Raleway/Raleway-Regular.ttf');
}

@font-face {
  font-family: Raleway-semibold;
  src: url('./assets/font/Raleway/Raleway-SemiBold.ttf');
}

@font-face {
  font-family: Raleway-bold;
  src: url('./assets/font/Raleway/Raleway-Bold.ttf');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*/////////////////       BODY       /////////////////*/

