.data-page-wrapper {
    display: flex;
    flex-direction: column;
}

.div-data-page-menu {
    flex: 1;
    background: var(--background-color);
    border-radius: var(--radius-medium);
    padding: 1rem;
    margin-right: -3em;
}

    .div-profile-foto {

    }

    .div-data-page-menu-child {
        margin-top: 1em;
        margin-left: 0em;
        border-radius: var(--radius-medium);
        background-color: var(--secondary-color);

    }


.div-personal-form {
    flex: 2;
    background: var(--secondary-color);
    margin: 1rem;
    padding: 1rem;
    border-radius: var(--radius-medium);
}

.div-personal-form-data {
    flex: 2;
    background: var(--secondary-color);
    margin: 1rem;
    padding: 1rem;
    border-radius: var(--radius-medium);
}

.div-template-wrapper {
    margin-top: 5em;
}

.div-jobseekerdata {

}

.div-cvdata-child {
    flex: 1;
    background: var(--background-color);
    border: solid 1.5px var(--button-color);
    border-radius: var(--radius-small);
    margin: 1em;
    padding: 1em;

}

.div-cvid-info-data-wrapper {
    display: flex;
    flex-direction: column;
}

.h-infotitel {

    font-family: Raleway-semibold;
    font-size: 1.2em;
    margin-left: 1em;
    padding: 1em;

}

    .div-cvid-info-data {
        flex: 1;
        display: flex;
        margin: 1em;

    }

        .div-cvid-button {
            margin-top: 1.2em;

        }

        .dic-cvid-info-data-child {

            display: flex;
            flex-direction: row;
        }


            .div-cvid-info-data-main {

                flex: 1;
                margin: 0.2em;

            }

                    .p-cvid-title {
                        font-size: 1em;
                        font-family: Raleway-semibold;
                    }

                    .p-cvid-period {
                        font-size: 0.7em;

                    }

            .div-cvid-info-data-second {
                flex: 1;
                border-radius: var(--radius-small);
                border: solid 1px var(--brand-color);
                padding: 0.5em;
                margin: 0.2em;
                background-color: var(--background-color);
            }

                .p-cvid-info-data-second {
                    font-size: 1em;
                }

            .div-cvid-info-data-info {

                flex: 1;
                padding: 0.4em;
                margin: 0.2em;
                border-radius: var(--radius-small);
                border: solid 1px var(--brand-color);
                background-color: var(--background-color);
            }
                .p-cvid-info-data-info {
                    font-size: 0.7em;
                }





.table-persoonlijkegegevenstabel {
    border: 1.5px solid var(--button-color);
    background-color: var(--background-color);
    border-radius: var(--radius-small);
    font-size: 0.9em;
    line-height: 1.3;
    margin: 1em;
    padding: 1em;
    width: 90%;

}
.td-persoonlijkegegevenstabel {

}

.img-profile-foto {
    width: 25%;
}

.p-no-inlog {
    font-family: Raleway-semibold;
    align-items: center;
    padding: 10em;
}

@media (min-width: 550px) {


    .table-persoonlijkegegevenstabel {

        margin: 2em;

    }

    .div-cvdata-child {
        margin: 2em;
    }

}



@media (min-width: 900px) {

    .data-page-wrapper {
        flex-direction: row;
    }



}