.table-jobseeker-info {
    overflow-x: auto;
    background-color: var(--background-color);
    border-radius: var(--radius-small);
    border: solid 1px var(--button-color);
    margin: 2em 0.5em 2em 0.5em;
    text-align: left;
    font-size: 14px;


}

.table-jobseeker-info thead {
   border-bottom: solid 2px var(--brand-color);
}

.table-jobseeker-info th {

    padding: 0.5em 0.8em 0.5em 0.8em;
    font-family: Raleway-semibold;

}
.table-jobseeker-info td {
    padding: 0.5em 0.8em 0.5em 0.8em;


}

